.admin-dashboard-container {
    height: 100vh;
    overflow-y: auto;
    width: 100%;
}

.admin-sidebar-container {
    background-color: var(--bg-dark);
    height: 100vh;
    width: 20%;
}

.admin-sidebar-organization {
    color: var(--bg-light);
    opacity: .5;
    margin-bottom: 16px;
    text-align: center;
}

.admin-sidebar-username {
    color: var(--bg-light);
    opacity: .85;
    text-align: center;
}

.admin-sidebar-user-icon {
    border-radius: 50%;
    width: 50%;
}

.admin-sidebar-user-icon-container {
    padding: 16px 0px;
    text-align: center;
    width: 100%;
}